<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote generator</title>
    <link rel="stylesheet" href="/styles/quote.css">
</head>
<body>
    <div class="container">
        <div class="inside-container">
            <h1>Make your day better</h1>
            <h2 class="quote"><%= quote %></h2>
            <h2>Author - <%= author %></h2>
            <a href="/">Get another quote</a>
        </div>
    </div>
    
</body>
</html>